.auth-wrap{
  min-height:100vh;
  display:grid;
  grid-template-columns:1fr 1fr;
}

/* LEFT PANEL */

.auth-side{
  display:flex;
  justify-content:center;
  align-items:center;

  background-size:cover;
  background-position:center;
}

/* SEMI TRANSPARENT BOX */

.logo-overlay{

  background:rgba(255,255,255,0.75);

  backdrop-filter:blur(4px);

  padding:30px 40px;


  border-radius:16px;

  display:flex;
  flex-direction:column;
  align-items:center;

  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

/* LOGO */

.brand-logo{
  width: 660px;
  max-width:85%;
}

/* TITLE */

.brand-main{
  font-size:56px;
  font-weight:800;
  letter-spacing:4px;
  margin-top:12px;
  color:#0f172a;
}

/* RIGHT SIDE LOGIN */

.auth-card{
  display:flex;
  flex-direction:column;
  justify-content:center;

  padding:80px;

  background:#0f172a;
  color:white;
}

/* TITLES */

.auth-title{
  font-size:28px;
  font-weight:700;
}

.auth-subtitle{
  margin-bottom:28px;
  color:#cbd5f5;
}

/* FORM */

.auth-form{
  display:grid;
  gap:16px;
}

.auth-label{
  font-size:13px;
}

.auth-input{
  width:100%;
  padding:12px;

  border-radius:10px;
  border:none;

  outline:none;
  font-size:14px;
}

/* BUTTON */

.auth-btn{
  margin-top:10px;

  padding:12px;

  border-radius:10px;
  border:none;

  background:white;
  color:#0f172a;

  font-weight:600;
  cursor:pointer;
}

.auth-btn:hover{
  background:#e2e8f0;
}

/* ERROR */

.auth-error{
  background:#fff1f2;
  border:1px solid #fecdd3;

  color:#9f1239;

  padding:10px;
  border-radius:10px;

  margin-bottom:14px;
}

/* LINKS */

.auth-hint{
  margin-top:20px;
  text-align:center;
}

.auth-link{
  color:white;
  font-weight:600;
}

/* MOBILE */

@media(max-width:900px){

  .auth-wrap{
    grid-template-columns:1fr;
  }

  .auth-side{
    display:none;
  }

}

.auth-wrap-reverse{
  grid-template-columns: 1fr 1fr;
}